
<!DOCTYPE html>
<html>
<head>
<title>2 Factor Auth</title>


</head>
<body onload="load()">

 <h2 style="text-align: center">2 Factor Auth</h2>
  <form style="text-align: center" method="post">
    {% csrf_token %}
    <label>Enter the code: </label>
    <input id="code" name="Code" type="text" >
    <button type="submit">Verify</button>
  </form>


<span id="timer" style="text-align: center"></span>



<script type="text/javascript">
function checklength(i) {
    'use strict';
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}

var minutes, seconds, count, counter, timer;
count = 120; //seconds
counter = setInterval(timer, 1000);

function timer() {
    'use strict';
    count = count - 1;
    minutes = checklength(Math.floor(count / 60));
    seconds = checklength(count - minutes * 60);
    if (count < 0) {
        clearInterval(counter);
        return;
    }
    document.getElementById("timer").innerHTML = 'Your code expires in ' + minutes + ':' + seconds + ' ';
    if (count === 0) {
        location.reload();
    }
}
</script>
</body>

</html>



