{% extends 'main/base.html' %}
{% load static %}


{% block title %}
Home
{% endblock %}

{% block content %}
    <div  >
        <h1 >Welcome</h1>
        <h2 >- An Adaptive Authentication project</h2>
    </div>
    <br>
     <div  >
        <blockquote id="def" cite="https://blog.identityautomation.com/what-is-adaptive-authentication#:~:text=Adaptive%20authentication%20is%20a%20way,of%20authentication%20to%20the%20situation.">"Adaptive authentication is a way that two-factor authentication or multi-factor authentication can be configured and deployed. It's a method for selecting the right authentication factors depending on a user's risk profile
            and tendencies - for adapting the type of authentication to the situation."
    </blockquote>
        <p style="text-align: right">- Troy Moreland, IdentityAutomation.com</p>
            </div>

{% endblock %}